* {
  box-sizing: border-box;
}

html {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

body {
  background-color: #85b8db;
  margin: 0;
}

header {
  background-color: rgb(164, 189, 227);
  padding: 10px;
}

h1 {
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-size: 2.5rem;
}

.title-game {
  font-size: 2.2;
  color: rgb(187, 30, 30);
  padding-left: 7px;
  padding-top: 1px;
}

.over-and-under-title {
  font-weight: 900;
  color: rgb(162, 49, 49);
  padding: 0 6px;
}

.instructions {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: 700;
  font-style: italic;
  color: rgb(0, 0, 0);
}

.game-container {
  display: flex;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cards-container {
  display: flex;
  position: relative;
  margin-bottom: 180px;
  width: 70%;
  height: 29em;
  background-color: rgb(114, 156, 179);
}

article {
  display: inline;
  width: 100%;
}

.game-card,
.user-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(38, 76, 139);
}

.card-container {
  display: flex;
  width: 12em;
  height: 18em;
  background-color: rgb(247, 247, 249);
  border-radius: 5%;
  border: 2px solid rgb(0, 0, 0);
}

.user-card {
  display: flex;
  background-color: rgb(77, 134, 199);
}

.buttons-container {
  display: flex;
  position: relative;
  bottom: 190px;
  justify-content: center;
  padding-top: 19px;
  margin-left: 45px;
  align-items: center;
}

.buttons-container button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 20px;
  font-family: inherit;
  font-size: 2rem;
  padding: 15px 35px;
  color: rgb(224, 214, 214);
  background-color: rgb(39, 64, 145);
  border: 3px solid rgb(20, 20, 20);
  box-shadow: 5px 5px 10px rgb(30, 29, 29);
  font-weight: 700;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: rgb(149, 36, 41);
}
